@model IEnumerable<utes.Domain.MethodParameter>
@{
    ViewData["Title"] = "Method Parameters";
}

<h2>@ViewData["Title"].</h2>
<div id="parameters">Loading...</div>

@section scripts
{
    <script type="text/javascript">
        var initialData = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    <script type="text/babel" src="@Url.Content("~/jsx/assembly-class-method-parameters.jsx")">
    </script>
}
